<h2><%= @category.name %></h2>
<% if @posts.any? %>
  <ul class="posts">
    <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'New Post', new_category_post_path(@category) %>
<%= link_to 'All Categories', categories_path %>
